body {
	font-family: sans-serif;
	background-color: #E0E0E0;
	margin:0px;
}

.outerSquare {
	width:608px;
	height:608px;
	background-color: #0000FF;
}

.innerSqaureRow {
	width:608px;
	height:304px;
}
.innerSquare {
	width: 302px;
	height: 302px;
	border: 1px white solid;
	float:left;
}

#square1 {
	width:100px;
	height:100px;
	border-radius:50%;
	margin:auto;
	margin-top:101px;
	background-color: rgb(12,180,210);	
}
#square2 {
	width:200px;
	height:200px;
	border-radius:50%;
	margin:auto;
	margin-top:51px;
	background-color: rgb(12,180,210);	
}
#square3 {
	width:70px;
	height:70px;
	border-radius:50%;
	margin:auto;
	margin-top:116px;
	background-color: rgb(12,180,210);	
}
#square4 {
	width:220px;
	height:220px;
	border-radius:50%;
	margin:auto;
	margin-top:41px;
	background-color: rgb(12,180,210);	
}