body{
  height: 100%;
  background: url("images/paper_texture.png");
  background-size: 120%;
  /*background-color: #7ABACF;*/
  overflow: hidden;
  margin: 0;
  font-size: 1.3em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#main-div{
  display: flex;
  width: auto;
}

#info-sidebar{
  background-color: #36454f;
  height: 100%;
  width: 30%;
  margin: 0;
}

#right-panel{
  display: flex;
  flex-direction: column;
}

#box-container{
  background: url("images/rice_paper.png");
  background-color: #E1E1D5;
  z-index: -1;
  flex: 2;
  padding: 2%;
  margin: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.circle-div {
  display: flex;
  width: 120px;
  height: 120px;
  flex: auto;
  align-items: center;
  justify-content: center;
}

.bg-circle{
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.vulnerable{
  /*transition: height 2s ease;*/
  width: 75%;
  height: 75%;
  background-color: #D8B252;
}

.endangered{
  /*transition: height 2s ease;*/
  width: 50%;
  height: 50%;
  background-color: #DC6337;
}

.circle-div p {
  margin: 0;
  /* NICK : Any ideas on how to position this text perfectly centered above the two inner divs?*/
  position: absolute;
  font-size: 0.7em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input[type=range]#rangeSlider {
  -webkit-appearance: none;
  width: auto;
  margin: 0px 3% 2%;
}

input[type=range]#rangeSlider:focus {
  outline: none;
}
input[type=range]#rangeSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #36454f;
  border-radius: 2.6px;
  border: 0px solid #000101;
}
input[type=range]#rangeSlider::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 0.7px rgba(0, 0, 0, 0.71), 0px 0px 0.8px rgba(13, 13, 13, 0.71);
  border: 0px solid rgba(0, 0, 0, 0.57);
  height: 36px;
  width: 20px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}




/*#rangeSlider {
width: 80%;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%;
height: 20px;
}*/
