body{
  height: 100%;
  background: url("images/paper_texture.png");
  background-size: 120%;
  overflow: hidden;
  margin: 0;
  font-size: 1.3em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.selected {
  border: 1px solid white;
}

#main-div{
  display: flex;
  width: auto;
  padding: 0;
}

#info-sidebar{
  background-color: #36454f;
  height: 100%;
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

#side-content{
  text-align: center;
  font-size: .7em;
  color: white;
  margin-top: 10%;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#side-content p {
  text-align: left;
}

#right-panel{
  width: 67%;
  display: flex;
  flex-direction: column;
}


#box-container{
  /*background: url("images/rice_paper.png");*/
  background-color: gray;
  flex: 2;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /*align-items: stretch;*/
  align-content: space-around;
  /*overflow-y: auto;*/
}


.circle-div {
  display: flex;
  width: 80px;
  height: 80px;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding: 0 2% 2% 2%;
}

.circle-div img {
  height: 80px;
  border-radius: 50%;
  position: absolute;
  filter: grayscale();
  opacity: .7;
  /*z-index: -1;*/
  cursor: pointer;
}

.bg-circle{
  width: inherit;
  height: inherit;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 100;
  background-color: red;
  opacity: 0.6;
  cursor: pointer;
}


.extinct {
  width: 100%;
  height: 100%;
}

.critical{
  width: 85%;
  height: 85%;
}

.endangered{
  width: 70%;
  height: 70%;
}

.vulnerable{
  width: 50%;
  height: 50%;
}

.near_threatened{
  width: 35%;
  height: 35%;
}

.least{
  width: 20%;
  height: 20%;
}

/*.unknown{
  width: 90%;
  height: 90%;
  background-color: blue;
  opacity: .5;
}*/

.circle-div p {
  color: white;
  z-index: 200;
  display: none;
  margin: 0;
  position: absolute;
  font-size: 0.7em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: pointer;
}

.circle-div:hover p{
  display: block;
  cursor: pointer;
}

input[type=range]#rangeSlider {
  -webkit-appearance: none;
  width: auto;
  margin: 0px 3% 2%;
}

input[type=range]#rangeSlider:focus {
  outline: none;
}
input[type=range]#rangeSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #36454f;
  border-radius: 2.6px;
  border: 0px solid #000101;
}
input[type=range]#rangeSlider::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 0.7px rgba(0, 0, 0, 0.71), 0px 0px 0.8px rgba(13, 13, 13, 0.71);
  border: 0px solid rgba(0, 0, 0, 0.57);
  height: 36px;
  width: 20px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}

ul {
  /*background-color: green;*/
  display: flex;
  justify-content: center;
  /*margin: 0px;*/
  padding: 0px;

}

li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

#infoText ol {
  padding: 0;
  width: 100%;
}

#infoText li{
  padding-top: 4%;
}

#li-menu li:hover{
  background-color: red;
  cursor: hand;
}

#infoText {

  /*text-align: center;*/
  text-align: justify;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}





/*#rangeSlider {
width: 80%;
margin-left: auto;
margin-right: auto;
margin-bottom: 2%;
height: 20px;
}*/
